




.container_product_item{
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 1rem;
    // grid-auto-rows: calc((100vw - 2rem - 25rem - 2rem) * 0.35);
    // grid-auto-rows: calc((1rem));

    &__box{
        background-color: $color_test_4;

        margin: 0.5rem;

        cursor: pointer;

        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s, visibility 0.5s;

        display: flex;
        flex-direction: column;
        height: 100%;
        &__icon{
            width: 100%;
            aspect-ratio: 1 / 1;
        }
        &__price{
            background-color: $color_test_7;
            aspect-ratio: 5 / 1;
            overflow: hidden;
        }
        &__title{
            background-color: $color_test_6;
            // aspect-ratio: 5 / 1;
            // overflow: hidden;

            overflow: hidden;

            // make text only 2 line in div
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
        }
        &__sold{
            background-color: $color_test_5;
            aspect-ratio: 5 / 1;
            overflow: hidden;

            // vertical-align: bottom;


            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            // position: absolute;
            // bottom: 0;
            // left: 0;
        }

        &__animation{
            opacity: 0; // invisible
            visibility: hidden; // invisible
            width: 0px;
            height: 0px;
            margin: 0px;
        }

    }

}