

@import "../abstracts/variables";


.san-pham-body{

    display: flex;
    background-color: $color_test_1;
    
    &__column_1{
        background-color: $color_test_2;
        width: 25rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        
        &__Title{
            background-color: $color_test_4;
            height: 4rem;
            &__txt{
                display: flex;
                line-height: 0;
                font-size: 2rem;    
                font-weight: 600;    
            }
        }

        &__Category{

            list-style: none;
            display: flex;
            flex-direction: column;
            
            //&__item:hover ~ &__item__item{ ===> choose all class
            //&__item:hover &__item__item{ ===> choose child
            // &__item:hover &__item__item{
            //     visibility: visible;
            //     opacity: 1;
            //     height: 5rem;
            // }

            &__item{
                background-color: $color_test_6;
                display: flex;
                flex-direction: column;
                line-height: 4rem;
                font-size: 2rem;
                font-weight: 400;
                // height: 5rem;

                // overflow: auto;
                // display: table;
                height: max-content;
                // height: 4rem;

                &__parent:hover{
                    cursor: pointer;
                }
                &__parent{
                    height: 4rem;
                    display: flex;
                    align-items: center;
                }

                &__child:hover{
                    cursor: pointer;
                }
                &__child{
                    background-color: $color_test_7;

                    line-height: 4rem;

                    margin-left: 2rem;

                    font-size: 1.5rem;
                    font-weight: 400;

                    height: 0rem;
                    opacity: 0; // invisible
                    visibility: hidden; // invisible
                    // display: table-row;

                    transition: opacity 0.5s, height 0.5s;

                    &__animation{
                        visibility: visible;
                        opacity: 1;
                        height: 4rem;
                    }
                }
            }
        }
    }
    &__column_2{
        background-color: $color_test_3;
        margin: 1rem;

        flex: 1;
    }
}

.san-pham-body-detail{

    transition: opacity 0.5s, visibility 0.5s;
    &__hidden{
        visibility: hidden;
        opacity: 0;
    }

    &__background{

        position: fixed;
        inset: 0px;
        background-color: rgba(36, 36, 36, 0.5);
        z-index: 999;

        &__pannel{
            position: absolute;
            inset: 50% 40px 40px 50%;
            border: none;
            background: rgb(255, 255, 255);
            overflow: hidden;
            border-radius: 8px;
            outline: none;
            padding: 0px;

            width: 80vw;
            height: 80vh;
            @include response(desktop-big){
                width: 70vw;
                height: 70vh;
            }
            @include response(tablet-landscape){
                width: 80vw;
                height: 80vh;   
            }
            @include response(tablet-potrait){
                width: 80vw;
                height: 80vh;
            }
            @include response(phone){
                width: 90vw;
                height: 90vh;
            }
            max-height: 95vh;
            transform: translate(-50%, -50%);
            z-index: 1000;

            // add scroll
            overflow-y: auto;
        }

    }
    

}


// .san-pham-body__column_1__Category__item:focus .san-pham-body__column_1__Category__item__item,
// .san-pham-body__column_1__Category__item:focus-within .san-pham-body__column_1__Category__item__item,
// .san-pham-body__column_1__Category__item:hover .san-pham-body__column_1__Category__item__item{
//     visibility: visible;
//     opacity: 1;
//     z-index: 1;
//     transform: translate(0);
//     transition-delay: 0s, 0s, 0.3s;
// }