@import "../abstracts/variables";




.home-slideshow{

    background-color: $color_test_5;
    border: 10px solid red;

    position: relative;
    height: 50rem;

    &__container{

        // width: 500px;

        height: 100%;
        width: 100%;

        // display: flex;
        // flex-direction: row;
        // justify-content: flex-start;

        display: flex;
        justify-content: center;

        // margin: auto;
        position: absolute;
        // all image outside the box hidden
        // overflow: hidden;

        &__holder{
            // center image
            // margin-left: auto;
            // margin-right: auto;

            // object-fit: contain;
            height: 100%;
            // max-height: 100%;
            max-width: 100%;
            // min-width: auto;

            align-self: center;
            
            // width: 100%;
            // height: 100%;

            // display: flex;
            // flex-direction: row;

            // display: none;
            overflow: hidden;
            &__img{
                display: flex;
                justify-content: center;
                
                height: 100%;

                max-height: 100%;
                
            }
        }
    }
    

    &__btn-back, &__btn-next{
        position: absolute;

        width: 100px;
        height: 50px;

        top: 50%;


    }

    &__btn-next{
        right: 0;
    }
}