



$color_test_1: rgb(255, 102, 0);
$color_test_2: rgb(255, 247, 0);
$color_test_3: rgb(51, 255, 0);
$color_test_4: rgb(0, 255, 242);
$color_test_5: rgb(8, 0, 255);
$color_test_6: rgb(255, 0, 221);
$color_test_7: rgb(255, 0, 93);


$color_primary: rgb(117, 33, 33);



$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;