/*
0 - 600px: phone
600 - 900px: tablet potrait
900 - 1200px: tablet landscape
1200 - 1800px: PC
1800px + : Big PC
*/
.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
  border: none;
  outline: none; }
  .button__small {
    font-size: 1.35rem; }
  .button__medium {
    font-size: 1.8rem; }
  .button__blue {
    background-color: #0D3B66; }
  .button__blue:hover {
    background: linear-gradient(#12518d, #0D3B66); }
  .button__red {
    background-color: #ed1c24; }
  .button__red:hover {
    background: linear-gradient(#ef353c, #ed1c24); }

.title {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 300; }
  .title__medium {
    font-size: 3.5rem; }
    @media (max-width: 56.25rem) {
      .title__medium {
        font-size: 3rem; } }
  @media (max-width: 112.5rem) {
    .title__small {
      font-size: 3.2rem; } }
  @media (max-width: 75rem) {
    .title__small {
      font-size: 2.4rem; } }
  @media (max-width: 56.25rem) {
    .title__small {
      font-size: 2rem; } }
  @media (max-width: 37.5rem) {
    .title__small {
      font-size: 0.8rem; } }

.box {
  background-color: #FAF0CA;
  border-radius: 2px;
  padding: 0px 8px;
  display: inline-block;
  margin-bottom: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .box p {
    margin: 0;
    font-size: 1.5rem;
    color: #a79038; }
  .box a {
    color: #a79038;
    text-decoration: none;
    font-weight: bold; }
  .box a:hover {
    text-decoration: underline; }

.post-container {
  border-bottom: 1px dotted #DEDEDE;
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem; }

.content p,
.content li {
  font-size: 2rem; }

.content blockquote,
.content blockquote p {
  font-size: 1.5rem;
  font-style: italic; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem; }

.content h1 {
  font-size: 3.6rem; }

.content h2 {
  font-size: 3.1rem; }

.content h3 {
  font-size: 2.6rem; }

.content h4 {
  font-size: 2.1rem; }

.content h5 {
  font-size: 1.6rem; }

.content h6 {
  font-size: 1.15rem; }

@media (max-width: 56.25rem) {
  .content h1 {
    font-size: 6.25rem; }
  .content h2 {
    font-size: 5rem; }
  .content h3 {
    font-size: 3.125rem; }
  .content h4 {
    font-size: 2.4rem; }
  .content h5 {
    font-size: 1.9rem; }
  .content h6 {
    font-size: 1.15rem; } }

.hyperlink-li li {
  margin-left: 3rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  border-bottom: 1px dotted #DEDEDE; }

.hyperlink-li li:last-child {
  border-bottom: none; }

.tab {
  display: inline-block; }
  .tab__1 {
    margin-left: 10px; }
  .tab__2 {
    margin-left: 20px; }
  .tab__3 {
    margin-left: 30px; }

.enter__1 {
  display: inline-block;
  margin-top: 10px; }

.enter__2 {
  display: inline-block;
  margin-top: 20px; }

.enter__3 {
  display: inline-block;
  margin-top: 30px; }

.break-line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0; }

.center {
  display: flex;
  justify-content: center; }

.img-fixheight {
  height: 50px; }

.img-fixwidth {
  height: 400px;
  display: flex;
  justify-content: center; }

.wp-post-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; }

.page-numbers {
  font-size: 2rem;
  background-color: #FAF0CA;
  border-radius: 2px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
  height: 3rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1; }

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px; }

.breadcrumb a {
  color: #428bca;
  text-decoration: none; }

.pre {
  font-size: 2rem; }

.next {
  font-size: 2rem; }

.fa-clock {
  font-size: 1rem; }

.fa-user {
  font-size: 1.5rem; }

/*
0 - 600px: phone
600 - 900px: tablet potrait
900 - 1200px: tablet landscape
1200 - 1800px: PC
1800px + : Big PC
*/
.header {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  @media (max-width: 37.5rem) {
    .header {
      height: 32.5rem;
      flex-direction: column; } }
  .header__logo {
    background-color: #ff6600;
    max-height: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: center; }
    @media (max-width: 37.5rem) {
      .header__logo {
        max-height: 10rem; } }
    .header__logo__img {
      background-color: #fff700;
      object-fit: contain;
      max-height: 100%;
      max-width: 100%; }
  .header__category {
    background-color: #33ff00;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1; }
    @media (max-width: 37.5rem) {
      .header__category {
        flex-direction: column;
        height: max-content; } }
    .header__category__txt {
      height: 4.5rem;
      padding: 0.5rem;
      font-size: 2rem;
      min-width: fit-content;
      list-style-type: none;
      border-right: 0.1rem solid white; }
      .header__category__txt:last-child {
        border-right: 0; }
      @media (max-width: 37.5rem) {
        .header__category__txt {
          border-right: 0; } }
    .header__category__boldtxt {
      font-weight: 700;
      color: blue; }

.home-slideshow {
  background-color: #0800ff;
  border: 10px solid red;
  position: relative;
  height: 50rem; }
  .home-slideshow__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute; }
    .home-slideshow__container__holder {
      height: 100%;
      max-width: 100%;
      align-self: center;
      overflow: hidden; }
      .home-slideshow__container__holder__img {
        display: flex;
        justify-content: center;
        height: 100%;
        max-height: 100%; }
  .home-slideshow__btn-back, .home-slideshow__btn-next {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%; }
  .home-slideshow__btn-next {
    right: 0; }

.home-title {
  width: 600px;
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  color: blue;
  display: flex;
  justify-content: center;
  font-size: 1.5rem; }

.san-pham-body {
  display: flex;
  background-color: #ff6600; }
  .san-pham-body__column_1 {
    background-color: #fff700;
    width: 25rem;
    margin: 1rem;
    display: flex;
    flex-direction: column; }
    .san-pham-body__column_1__Title {
      background-color: #00fff2;
      height: 4rem; }
      .san-pham-body__column_1__Title__txt {
        display: flex;
        line-height: 0;
        font-size: 2rem;
        font-weight: 600; }
    .san-pham-body__column_1__Category {
      list-style: none;
      display: flex;
      flex-direction: column; }
      .san-pham-body__column_1__Category__item {
        background-color: #ff00dd;
        display: flex;
        flex-direction: column;
        line-height: 4rem;
        font-size: 2rem;
        font-weight: 400;
        height: max-content; }
        .san-pham-body__column_1__Category__item__item {
          background-color: #ff005d;
          line-height: 4rem;
          margin-left: 2rem;
          font-size: 1.5rem;
          font-weight: 400;
          height: 0rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s, height 0.5s; }
          .san-pham-body__column_1__Category__item__item__animation {
            visibility: visible;
            opacity: 1;
            height: 4rem; }
  .san-pham-body__column_2 {
    background-color: #33ff00;
    margin: 1rem;
    flex: 1; }

.paginate-container {
  display: flex;
  align-items: center; }

.footer__logo-partner {
  height: 50px; }

.form-input-holder__item {
  display: flex; }
  .form-input-holder__item__icon {
    width: 35px;
    height: 30px;
    background: #ed1c24;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 1.5rem; }
  .form-input-holder__item__input {
    padding: 2px 8px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0; }

.form-input-holder__button {
  padding: 8px 20px; }

.container_product_item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }
  .container_product_item__box {
    background-color: #00fff2; }
    .container_product_item__box__icon {
      width: 100%;
      aspect-ratio: 1 / 1; }
    .container_product_item__box__title {
      background-color: #ff00dd; }

.block-production-icon-description {
  display: flex; }

.product-icon {
  width: 40%;
  float: left;
  padding: 4px;
  margin: 3px; }
  .product-icon__main {
    width: 100%;
    display: flex;
    justify-content: center; }
    .product-icon__main__child {
      width: 100%;
      background-color: grey;
      padding: 4px; }
  .product-icon__sub {
    margin: 0px;
    float: left;
    display: flex;
    width: 100%; }
    .product-icon__sub__child:hover {
      cursor: pointer; }
    .product-icon__sub__child {
      background-color: grey;
      margin: 2px;
      padding: 2px;
      flex: 1;
      width: 10%;
      aspect-ratio: 1 / 1; }

.product-description {
  max-width: 60%;
  padding-left: 2rem;
  margin-left: 2rem;
  flex-grow: 1; }

.block-tabs {
  padding: 2rem;
  margin: 2rem; }
  .block-tabs__pannel {
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey; }
    .block-tabs__pannel__header {
      display: flex;
      height: 60px; }
      .block-tabs__pannel__header__tab:hover {
        background-color: grey;
        cursor: pointer; }
      .block-tabs__pannel__header__tab {
        max-height: 100%;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid grey;
        margin: 1rem 0 0 0;
        padding: 1rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-self: flex-end; }
        .block-tabs__pannel__header__tab__active {
          border: 1px solid grey;
          border-bottom-color: transparent;
          border-top: 5px solid #004986; }
        .block-tabs__pannel__header__tab__space-first {
          width: 10px;
          border-bottom: 1px solid grey; }
        .block-tabs__pannel__header__tab__space-last {
          flex-grow: 1;
          border-bottom: 1px solid grey; }
    .block-tabs__pannel__body {
      font-size: 2rem; }

.column_2_fixedcolumn1 {
  display: flex;
  background-color: #ff6600; }
  .column_2_fixedcolumn1__column_1 {
    background-color: #fff700;
    width: 25rem;
    margin: 1rem; }
    @media (max-width: 37.5rem) {
      .column_2_fixedcolumn1__column_1 {
        width: 0rem;
        margin: 0rem; } }
  .column_2_fixedcolumn1__column_2 {
    background-color: #33ff00;
    margin: 1rem;
    flex: 1; }

.column_2_even {
  display: flex;
  align-items: flex-start;
  background-color: #ff6600; }
  .column_2_even__column_1 {
    background-color: #fff700;
    width: 100%;
    margin: 1rem; }
  .column_2_even__column_2 {
    background-color: #33ff00;
    width: 100%;
    margin: 1rem; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5rem) {
    html {
      font-size: 75%; } }
  @media (max-width: 75rem) {
    html {
      font-size: 56.5%; } }
  @media (max-width: 56.25rem) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5rem) {
    html {
      font-size: 50%; } }

body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: black;
  margin: 0rem;
  margin-top: 1rem;
  padding: 0;
  box-sizing: border-box; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }
