



.button {
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    padding: 3px 10px;
    border: none;
    outline: none;
  
    // &__small {
    //     font-size: 1.35rem;
    //     padding: 7px 13px;
    //     font-weight: 300;
    // }
    // &__large {
    //     font-size: 2.8rem;
    //     padding: 16px 34px;
    //     border-radius: 7px;
    //     @include response(tablet-potrait) {
    //         font-size: 1.85rem;
    //     }
    // }
  
    // &__with-photo {
    //     padding-left: 40px;
    //     position: relative;
    // }
  
    // &__orange {
    //     background-color: $lightOrange;
    // }
    // &__orange:hover {
    //     background: linear-gradient($lightOrange, scale-color($lightOrange, $lightness: -25%, $saturation: 100%));
    // }
  
    // &__dark-orange {
    //     background-color: $darkOrange;
    // }
    // &__dark-orange:hover {
    //     background: linear-gradient($darkOrange, scale-color($darkOrange, $lightness: -35%, $saturation: 100%));
    // }
  
    &__blue {
        background-color: $mainBlue;
    }
    &__blue:hover {
        background: linear-gradient(scale-color($mainBlue, $lightness: 11%), $mainBlue);
    }
  
    // &__yellow {
    //     background-color: $mainYellow;
    //     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
    // }
    // &__yellow:hover {
    //     background: linear-gradient($mainYellow, scale-color($mainYellow, $lightness: -29%, $saturation: 100%));
    // }
  
    // &__beige {
    //     background-color: $beige;
    //     color: #173f58;
    // }
    // &__beige:hover {
    //     background-color: $mainYellow;
    // }
  
    // &__white {
    //     background-color: #fff;
    //     color: #173f58;
    // }
    // &__white:hover {
    //     background-color: #ddd;
    // }
  
    // &__inactive {
    //     background-color: transparent;
    //     cursor: default;
    //     color: #333;
    // }
}
  



.title {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
  
    // &__large {
    //     font-size: 9.4rem;
    //     @include response(tablet-potrait) {
    //         font-size: 5.4rem;
    //     }
    // }
    // &__large-medium {
    //     font-size: 7.5rem;
    //     margin: 0 0 1rem 0;
    // }
    &__medium {
        font-size: 3.5rem;
        margin-bottom: 0.75rem;
        @include response(tablet-potrait) {
            font-size: 3rem;
        }
    }
//     &__small-plus {
//         font-family: "Roboto", sans-serif;
//         font-size: 2.45rem;
//         font-weight: 400;
//         margin-bottom: 1.9rem;
//     }
//     &__small {
//         font-size: 2.45rem;
//         margin-bottom: 1.9rem;
//         @include response(tablet-potrait) {
//             font-size: 1.8rem;
//         }
//     }
//     &__smaller {
//         font-size: 2.15rem;
//     }
//     &__tiny {
//         font-family: "Roboto", sans-serif;
//         font-size: 2.05rem;
//         margin-bottom: 0.25rem;
//     }
  
//     &__post-title a {
//         color: $mainBlue;
//         text-decoration: none;
//     }
//     &__post-title a:hover {
//         text-decoration: underline;
//     }
}


.box {
    background-color: $beige;
    border-radius: 2px;
    padding: 0px 8px;
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
  
    // &__position-up {
    //     position: absolute;
    //     top: 0;
    //     transform: translateY(-50%);
    // }
  
    // &__with-home-link {
    //     padding: 0;
    // }
  
    // &__main {
    //     padding: 10px 15px 10px 11px;
    // }
  
    p {
        margin: 0;
        font-size: 1.5rem;
        color: adjust-color($beige, $lightness: -45%, $saturation: -33%);
    }
    a {
        color: adjust-color($beige, $lightness: -45%, $saturation: -33%);
        text-decoration: none;
        font-weight: bold;
    }
    a:hover {
        text-decoration: underline;
    }
  
    // & &__blog-home-link {
    //     background-color: $mainBlue;
    //     color: #fff;
    //     display: inline-block;
    //     padding: 10px 15px;
    //     border-radius: 3px 0 0 3px;
    //     font-weight: normal;
    // }
    // & &__blog-home-link:hover {
    //     text-decoration: none;
    //     background-color: adjust-color($mainBlue, $lightness: -5%);
    // }
}

.post-container {
    border-bottom: 1px dotted #DEDEDE;
    padding-bottom: 1.7rem;
    margin-bottom: 1.7rem;
  
    // &:last-of-type {
    //     border-bottom: none;
    //     margin-bottom: 0;
    // }
}

.content {
    p,
    li {
        font-size: 1.35rem;
    }
  
    blockquote,
    blockquote p {
        font-size: 1.5rem;
        font-style: italic;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
    }
  
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 3.1rem;
    }
    h3 {
        font-size: 2.6rem;
    }
    h4 {
        font-size: 2.1rem;
    }
    h5 {
        font-size: 1.6rem;
    }
    h6 {
        font-size: 1.15rem;
    }
  
    @include response(tablet-potrait) {
        h1 {
            font-size: 6.25rem;
        }
        h2 {
            font-size: 5rem;
        }
        h3 {
            font-size: 3.125rem;
        }
        h4 {
            font-size: 2.4rem;
        }
        h5 {
            font-size: 1.9rem;
        }
        h6 {
            font-size: 1.15rem;
        }
    }
}
  