





.tab {
    display: inline-block;
    margin-left: 40px;
}

.enter {
    &__1{
        display: inline-block;
        margin-top: 10px;
    }
    &__2{
        display: inline-block;
        margin-top: 20px;
    }
    &__3{
        display: inline-block;
        margin-top: 30px;
    }
}

.break-line {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2.5rem 0;
  }



.center{
    display: flex;
    justify-content: center;
}




.img-fixheight{
    height: 50px;
}

.img-fixwidth{
    height: 400px;
    display: flex;
    justify-content: center;
}

