





// paginate_links
.page-numbers{
    font-size: 2rem;

    background-color: $beige;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

    height: 3rem;
    margin: 0.5rem;

    // make text center
    display: flex;
    justify-content: center;
    align-items: center; 
    // make square
    aspect-ratio : 1 / 1;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb a {
    color: #428bca;
    text-decoration: none;
}



.pre{
    font-size: 2rem;
}
.next{
    font-size: 2rem;
}